# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# User-specific files
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Build artifacts
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.podspec
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Documentation
CLAUDE.md
